*.jpg
fruits/readme.md
fruits/fruits-360/readme.md
fruits/fruits-360/papers/fruit_recognition_deep_learning.pdf
fruits/fruits-360/LICENSE
*.png
fruits.zip
fruits/
generated_images/
old_generated_images/
*.h5